<header>
	<nav style="background-color: #088CFF; height: 3.5rem; padding-top: 0.25rem;">
		<ul>
				<li style="display: inline-block; color: white; margin-right: 10px" list-style-type="none"><a th:href="@{/}">Inicio</a></li>
				<li style="display: inline-block; color: white; margin-right: 10px" list-style-type="none"><a th:href="@{/services}">Servicios</a></li>
				<li style="display: inline-block; color: white; margin-right: 10px" list-style-type="none"><a th:href="@{/products}">Productos</a></li>
				<li style="display: inline-block; color: white; margin-right: 10px" list-style-type="none"><a th:href="@{/about}">Sobre Nosotros</a></li>
		</ul>
	</nav>
</header>