<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>PracticaExamen</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- En caso de querer añadir tiempo de sesion <session-config> <session-timeout>5</session-timeout> 
		</session-config> -->

	<!-- MAPEADO DE SERVLETS -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MostrarProductos</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.MostrarProductosServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MostrarProductos</servlet-name>
		<url-pattern>/MostrarProductos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.LogOutServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Empleados</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.EmpleadosServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Empleados</servlet-name>
		<url-pattern>/Admin/Empleados</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddEmpleado</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AddEmpleadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmpleado</servlet-name>
		<url-pattern>/Admin/AddEmpleado</url-pattern>
	</servlet-mapping>

	<!-- MAPEADO DE FILTROS -->

	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<servlet-name>MostrarProductos</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<servlet-name>Empleados</servlet-name>
		<servlet-name>AddEmpleado</servlet-name>
	</filter-mapping>
</web-app>