<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Profesores')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-8">
				<!-- <h1><a th:href="@{/departamentInsert}">Insertar departamento</a></h1> -->
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>NIF</th>
						<th>Nombre</th>
						<th>Primer Apellido</th>
						<th>Segundo Apellido</th>
						<th>Ciudad</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th>Fecha de Nacimiento</th>
						<th>Sexo</th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${profesores}">
					 	<td th:text="${a.getId()}"></td>
					 	<td th:text="${a.getNif()}"></td>
					 	<td th:text="${a.getNombre()}"></td>
					 	<td th:text="${a.getApellido1()}"></td>
					 	<td th:text="${a.getApellido2()}"></td>
					 	<td th:text="${a.getCiudad()}"></td>
					 	<td th:text="${a.getDireccion()}"></td>
					 	<td th:text="${a.getTelefono()}"></td>
					 	<td th:text="${a.getFecha_nacimiento()}"></td>
					 	<td th:text="${a.getSexo()}"></td>
					 	<td><a th:href="@{/alumnos}" style="text-decoration: none">+</a></td>
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="fragments/parts::footer(info='menu.products')"></footer>
		</div>
	</div>
</body>
</html>>